@import "../utilities/variables";

.characterLine{
    border-top: 5px solid black;
    margin-bottom: 40px;
}

.characterPicture{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.characterPicture .characterImg{
    width: $charactercard-width;
    height: $charactercard-height;
    position: relative;
    margin-bottom: 20px;
    box-shadow: $charactercard-boxshadow;
    border-radius: 5px;
}

.characterImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.characterOverlay{
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .55s ease;
}

.characterOverlay h2{
    color: $charactercardname-color;
    font-weight: 300;
    font-size: $cardtitle-fontsize;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.characterImg:hover .characterOverlay{
    height: 100%;
    cursor: pointer;
}

@keyframes titleAnim {
    from {color: red;}
    to {color: yellow;}
}