@mixin logoPrincipal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

@mixin patchText {
    font-size: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-overflow: clip;
}

@mixin contactLabel ($labelWidth, $labelDisplay, $labelFontsize, $labelWeight) {
    width: $labelWidth;
    display: $labelDisplay;
    font-size: $labelFontsize;
    font-weight: $labelWeight;
}