$title-color: rgb(200, 255, 255);
$secondtitle-color: rgb(0, 255, 255);
$subtitle-color: rgb(255, 165, 50);
$newscard-color: rgb(45, 45, 45);
$newscard-description: rgb(230, 230, 230);
$cardtitle-fontsize: 30px;
$description-fontsize: 20px;
$charactercard-width: 32%;
$charactercard-height: 350px;
$charactercard-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, .75);
$charactercardname-color: rgb(255, 255, 255);
$black-background: rgba(0, 0, 0, 0.5);
$opinion: (
    like: rgb(0, 225, 0),
    meh: rgb(175, 175, 175),
    dislike: rgb(255, 0, 0)
);