@import "../utilities/variables";

footer{
    height: 100%;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    
}

.footerTitle{
    font-size: $description-fontsize;
    color: rgb(255, 255, 255);
    text-align: center;
}

.footerText{
    font-size: $description-fontsize;
    color: white;
    text-align: center;
}

.footerLogos{
  display: flex;
  justify-content: center;
}

footer img{
    width: 100px;
    padding: 5px;
}