@import "../utilities/variables";
@import "../utilities/mixins";

.patch{
    margin-bottom: 150px;
    background-color: $black-background;

    h3{
        font-size: 25px;
        color: $secondtitle-color;
    }
    
    p{
        @include patchText;
    } 
}


.patchBoldText{
    font-weight: bold;
}