@import "../utilities/variables";
@import "../utilities/mixins";

.patch{
    padding: 20px;
    margin-bottom: 150px;
    background-color: $black-background;
    border-radius: 20px;

    h3{
        font-size: 25px;
        color: $secondtitle-color;
    }
    
    p{
        @include patchText;
    } 
}

.patchOpinion{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    color: $secondtitle-color;
}

.patchBoldText{
    font-weight: bold;
}

@each $key, $value in $opinion {
    .opinionBtn--#{$key}{
        display: flex;
        justify-content: space-around;    
        flex-wrap: wrap;
        margin: auto;
        width: 25%;
        color: rgb(5, 5, 5);
        background-color: $value;
        font-size: $description-fontsize;
        border-radius: 10px;
        box-shadow: $charactercard-boxshadow;
    } 
}