.newsContainer{
    padding: 30px;
}

.cardContent{
    background-color: rgb(49, 49, 49);
    text-align: center;
}

.cardTextTitle{
    font-size: 30px;
    color: rgb(0, 255, 255);
}

.cardTextDescription{
    font-size: 20px;
    color: rgb(230, 230, 230);
}