@import "../utilities/variables";

.newsContainer{
    padding: 30px;
}

.cardContent{
    background-color: $newscard-color;
    text-align: center;
}

.cardTextTitle{
    font-size: $cardtitle-fontsize;
    color: $secondtitle-color;
}

.cardTextDescription{
    font-size: $description-fontsize;
    color: $newscard-description;
}